<div class="container">

    <div class="container__fecha">

        <div class="date-input">


            <div class="container__1">

                <div class="input__search">
                    <label for="">Tipo Doc.</label>
                    <div class="container__input">
                        <select type="text" class="search-input" placeholder="Nombres, Razón social">
                            <option value="">asdas</option>
                            <option value="">asdas</option>
                            <option value="">asdas</option>
                        </select>
                    </div>
                </div>



            </div>

            <div class="container__1">
                <div class="input__search">
                    <label for="" style="width: 85px;">N° Doc.</label>
                    <div class="container__input">
                        <input type="text" class="search-input">
                    </div>
                </div>
                <button mat-icon-button class="icon_btn" matTooltip="Exportar" (click)="exportar()">
                    <mat-icon>save_alt</mat-icon>
                </button>

                <button mat-icon-button class="icon_btn" matTooltip="Perfil">
                    <mat-icon>person_outline</mat-icon>
                </button>
            </div>

        </div>


    </div>

    <div class="input__search">
        <label for="">Nombres</label>
        <div style="display: flex; gap: 6px; align-items: center;" class="container__input">
            <input type="text" class="input" placeholder="Ingrese nombre legal">
            <div class="icon__search">
                <a href="">
                    <mat-icon class="search">search</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <app-tabla-clientes></app-tabla-clientes>

</div>