<table mat-table [dataSource]="listItemRepartos">
    <ng-container matColumnDef="guia">
        <th mat-header-cell *matHeaderCellDef>N° Guia</th>
        <td mat-cell *matCellDef="let item">
            {{item.nGuia}}
        </td>
    </ng-container>
    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nombres">Tipo</th>
        <td mat-cell *matCellDef="let item">{{item.cat}}
        </td>
    </ng-container>
    <ng-container matColumnDef="descrip">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let item">{{item.descrip}}</td>
    </ng-container>
    <ng-container matColumnDef="cant">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let item">{{item.cant}} </td>
    </ng-container>
    <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let item">
            <span class="item__estado">S/{{item.precio}}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="act">
        <th mat-header-cell *matHeaderCellDef>
            <button style="margin-left: 17px;" class="btn__item centered-button" (click)="openDialogAddItemReparto()"
                matTooltip="Agregar Item">
                <mat-icon>add</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let item">
            <button matTooltip="Editar" (click)="editItemReparto(item)">
                <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="Eliminar" (click)="deleteItemReparto(item)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row = index; columns: columnas;"
        [ngStyle]="{'background-color': row % 2 === 0 ? '#ffffff' : '#f8f8f8'}" style="height: 70px;"></tr>

</table>