<div class="buscar__container">
    <span>Cliente</span>
    <div class="buscar">
        <div class="input-container">
            <!--Progress Bar-->
            <mat-spinner class="icon" [diameter]="30" color="#047CC4" *ngIf="isLoading"></mat-spinner>

            <!--Boton Buscar Cliente-->
            <button class="icon" mat-icon-button matTooltip="Buscar" (click)="buscarCliente()"
                *ngIf="!isLoading && !cliente">
                <mat-icon>search</mat-icon>
            </button>

            <!--Boton Borrar Cliente-->
            <button class="icon" mat-icon-button (click)="borrarCliente()" matTooltip="Limpiar"
                *ngIf="cliente"><mat-icon>close</mat-icon></button>

            <input placeholder="Buscar por documento, nombres o telefono" type="text" [formControl]="documento"
                class="input-with-icon" />
        </div>

        <!--Boton Agregar Cliente-->
        <button mat-button (click)="openDialogCliente()" class="btn__agregar" *ngIf="!cliente">
            <mat-icon>person_add</mat-icon>
            <span>Agregar Cliente</span>
        </button>

        <!--Boton Editar Cliente-->
        <button mat-button (click)="openDialogCliente()" class="btn__agregar" *ngIf="cliente">
            <mat-icon>edit</mat-icon>
            <span>Editar Cliente</span>
        </button>
    </div>


    <!--Lista de Clientes Encontrados-->
    <div class="sugerencias">
        <ul class="auto__completar" *ngIf="showSugerencias">
            <li *ngFor="let item of data$" (click)="selectCliente(item)">
                {{item.nombres}}
            </li>
        </ul>
    </div>
</div>


<!--Información Cliente Encontrado-->
<div class="container__completado">
    <div class="completado" *ngIf="cliente">
        <div class="span__completado">
            <mat-icon>description</mat-icon><span class="title">Documento</span>
            <span class="sub__title"> {{cliente.documento}} </span>
        </div>

        <div class="span__completado">
            <mat-icon>phone_in_talk</mat-icon><span class="title">Celular</span>
            <span class="sub__title"> {{cliente.telefono}}</span>
        </div>

        <div class="span__completado">
            <mat-icon>location_on</mat-icon><span class="title">Distrito</span>
            <span class="sub__title"> {{cliente.distrito_id}}</span>
        </div>

        <div class="span__completado">
            <mat-icon>person_pin_circle</mat-icon><span class="title">Direccion</span>
            <span class="sub__title"> {{cliente.direc}}</span>
        </div>

        <div class="span__completado">
            <mat-icon>person</mat-icon><span class="title">Referencia</span>
            <span class="sub__title"> {{cliente.referencia}}</span>
        </div>
    </div>
</div>