<div class="container__product">
  <h2>Nuevo Producto / servicio</h2>
  <form>
    <div class="container__form">


      <div class="campo__form">
        <label for="">Nombre</label>
        <input type="text" class="input">
      </div>

      <div class="campo__form">
        <label for="">Categoria</label>
        <select id="animal">
          <option value="perro">Perro</option>
          <option value="gato">Gato</option>
          <option value="pajaro">Pájaro</option>
          <option value="otro">Otro</option>
        </select>
      </div>


      <div class="campo__form">
        <label for="">Descricion</label>
        <input type="text" class="input">
      </div>


      <div class="campo__form">
        <label for="">Cantidad</label>
        <input type="number" placeholder="Cantidad" class="input">
      </div>


      <div class="campo__form">
        <label for="">Precio</label>
        <input type="number" placeholder="Precio" class="input">
      </div>


    </div>

  </form>

  <div class="guardar">
    <h2>Opciones Avanzadas</h2>
    
    <div class="raparto__btn">
      <button onclick="onNoClick()">Cancelar</button>
      <div class="btn__navbar">
        <button class="btn-add" onclick="onAceptar()">Guardar</button>
      </div>
    </div>
  </div>
</div>