<div class="container">
  <div class="icon__form">
    <span>Agregar Ítem</span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <form>
    <div class="container__form">


      <div class="campo__form">
        <label for="">N° Guia</label>
        <input type="text" class="input" [formControl]="nGuia">
      </div>

      <div class="campo__form">
          <app-menu-select titulo="Categoría" class="input__select" [listado]="listPaquetes"></app-menu-select>
      </div>


      <div class="campo__form">
        <label for="">Descripción</label>
        <input type="text" class="input" [formControl]="descrip">
      </div>

      <div class="container__cantidad">
        <div class="campo__form">
          <label for="">Cantidad</label>
          <input type="number" placeholder="0" class="input" [formControl]="cant">
        </div>


        <div class="campo__form">
          <label for="">Precio</label>
          <input style="margin-left: -71px;" type="number" placeholder="S/0.0" class="input" [formControl]="precio">
        </div>
      </div>


    </div>

  </form>


    <div class="raparto__btn">
      <button mat-raised-button class="btn-add" [disabled]="!formValid" (click)="onAceptar()">Guardar</button>
      <button mat-raised-button style="background-color: #E8E8E8; color: #808080;"(click)="closeDialog()">Cancelar</button>
      
    </div>



</div>