<div class="container">
  <form [formGroup]="form" class="container__form">

    <div class="icon__form">
      <span>Agregar Cliente</span>
      <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <select formControlName="tipo">
      <option value="D">Dni</option>
      <option value="R">Ruc</option>
      <option value="C">Carnet Extranjeria</option>
      <option value="O">Otros</option>
    </select>
    
    <div class="campo__form">
      <label for="">N° Documento</label>
      <input placeholder="Ingresa documento de identidad o pasaporte" formControlName="doc"><br>
    </div>

    <div class="campo__form">
      <label for="">Nombre legal</label>
      <input placeholder="Ingresa nombres y apellidos" formControlName="nombres"><br>
    </div>

    <div class="campo__form">
      <label for="">Teléfono</label>
      <input placeholder="Ingresa celular" formControlName="cel"><br>
    </div>

    <div class="campo__form">
      <label>Genero</label>
      <select formControlName="genero">
        <option value="S" >Sin especificar</option>
        <option value="M" >Hombre</option>
        <option value="F" >Mujer</option>
      </select>
    </div>

    <div class="campo__form">
      <label>Correo</label>
      <input placeholder="Ingresa correo electronico" formControlName="correo"><br>
    </div>

    <div class="campo__form">

      <div class="form__dir">
        <label for="">Dirección</label>
        <input placeholder="Ingresa lugar de domicilio" formControlName="direc"><br>
      </div>

      <div class="form__dir">
        <label  style="position: relative; left: -90px; width: 70px;" for="">Distrito</label>
        <select formControlName="distrito">
          <option *ngFor="let item of listDistritos" [value]="item.id" selected>{{item.nombre}}</option>
        </select><br>
      </div>

    </div>


    <div class="campo__form " style="margin-top: -20px;">
      <label for="">Referencia</label>
      <input placeholder="Ingresa una referencia" formControlName="ref">
    </div>

    <div class="campo__form ">
      <label for="">Maps</label>
      <input placeholder="URL de Google Maps" formControlName="maps">
    </div>

    <div class="btn__form">
      <button mat-raised-button (click)="guardar()">Guardar</button>
      <button mat-raised-button style="background-color: #E8E8E8; color: #808080;"
        (click)="closeDialog()">Cancelar</button>
    </div>

  </form>
</div>