<div class="container">
  <form action="" class="container__form">

    <div class="icon__form">
      <span>Agregar Cliente</span>
      <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <select [formControl]="tipo">
      <option value="Dni">Dni</option>
      <option value="Ruc">Ruc</option>
      <option value="CE">Carnet Extranjeria</option>
      <option value="Otros">Otros</option>
    </select>
    <div class="campo__form">
      <label for="">N° Documento</label>
      <input [formControl]="doc"><br>
    </div>

    <div class="campo__form">
      <label for="">Nombres</label>
      <input [formControl]="nombres"><br>
    </div>

    <div class="campo__form">
      <label for="">Teléfono</label>
      <input [formControl]="cel"><br>
    </div>

    <div class="campo__form">

      <div class="form__dir">
        <label for="">Dirección</label>
        <input [formControl]="direc"><br>
      </div>

      <div class="form__dir">
        <label style="position: relative; left: -12px;" for="">Distrito</label>
        <select [formControl]="distrito">
          <option value="CA" selected>Chincha Alta</option>
          <option value="CB">Chincha Baja</option>
          <option value="SN">Sunampe</option>
          <option value="Grocio">Grocio Prado</option>
          <option value="EC">El Carmen</option>
        </select><br>
      </div>

    </div>


    <div class="campo__form " style="margin-top: -20px;">
      <label for="">Referencia</label>
      <input [formControl]="ref">
    </div>

    <div class="btn__form">
      <button (click)="closeDialog()">Cancelar</button>
      <button (click)="guardar()">Guardar</button>
    </div>

  </form>
</div>