@import url('https://fonts.cdnfonts.com/css/metropolis-2');
.container{
  padding: 3rem 4rem;
}

.container__product {
  width: 580px;
  padding: 2rem;
  height: 690px;
  border-radius: 50px;


}

.icon__form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-icon{
  color: 
  #808080;
}
.container__form {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.campo__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.campo__form:nth-child(2) {

  margin-bottom: 20px
}
.campo__form div {
  /* Asegúrate de que cada div tenga la misma altura o establece una altura fija si es necesario */
  height: 100px; /* Ajusta la altura según tus necesidades */
}

span{
  color: #047CC4;
  font-size: 1.2rem;
  font-weight: 600;
}
.form__dir{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;

}

.form__dir input{
  margin-left: -15px;
  width: 340px;
}

input:focus{
outline: none;
}
.campo__form select{
  width: 700px;
}
.form__dir select{
  width: 220px;
}
.form__dir select{
  margin-left: -90px;
}



/* Estilo común para input */
input {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 700px;
  height: 49px;
  background-color: #F1F1F1;
  border-radius: 15px;
  border: none;
  font-size: 1.1rem;
  color: #808080;
  font-family: 'Metropolis', sans-serif;
}


/* Estilo para el foco en el input (mientras se escribe) */
input:focus {
  border: 2px solid #047CC4; /* Cambia el color del borde cuando está enfocado */
}

/* Resto de tus estilos */

select {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  width: 400px;
  height: 53px;
  background-color: #f4f4f5;
  border-radius: 15px;
  font-size: 1.1rem;
  color: #808080;
  font-family: 'Metropolis', sans-serif;
  border: none;
}
option{
  padding: 20px;
}

/* Estilo para el ícono de triángulo (puedes mantener este estilo) */
.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
}


select:focus {
  border: 2px solid #047CC4;
}

label {
  width: 200px;
  font-size: 1.15rem !important;
  opacity: 1;
  color: #808080;
  line-height: 1.5rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600 !important;
  letter-spacing: -0.2px;
}



.btn__navbar {
  position: relative;
}

.btn-add {
  padding: 14px;
  border-radius: 13px;
  border: none;
  width: 150px;
  background-color: rgba(226, 30, 66, 255);
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.btn-add:hover {
  opacity: 0.9;
}


.guardar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

h2 {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 0 -16px;
}

.raparto__btn {
  display: flex;
  flex-direction: row;
  gap: 16px;
}


.btn__form{
  margin-top: 55px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn__form button{
  padding: 1rem;
  background-color: 
  #05ACD7;
  color: white;
  border-radius: 5px;
  width: 180px;
  border: none;
    font-family: metropolis;
  font-weight: 600;
  font-size: 0.98rem;
  height: 50px;
}

.btn__form :nth-child(2){
  background-color: 
  #E8E8E8;
  color: #808080;
}