



<div class="date-input">
    <div class="input-container">
      <input type="text" id="from" placeholder="Desde">
      <i class="material-icons">calendar_today</i>
    </div>
    <div class="input-container">
      <input type="text" id="to" placeholder="Hasta">
      <i class="material-icons">calendar_today</i>
    </div>
  </div>
  
  

  <button class="btn-add" (click)="agregar()">Agregar</button>



<table class="table">
    <thead>
        <tr>
            <th style="text-align: center;">Venta<mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Nombre <mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Celular <mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Total <mat-icon  class="icon" matListIcon>search</mat-icon></th>
            <th>Fecha <mat-icon  class="icon" matListIcon>search</mat-icon></th>
            <th>Docs <mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Estado <mat-icon class="icon" matListIcon>search</mat-icon></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of dataSource">
            <td style="text-align: center;">1</td>
            <td>{{ element.cliente?.nombres }}</td>
            <td>{{ element.cliente?.celular }}</td>
            <td class="pago"><a class="pagado" href="">Pagado</a> S/{{ element.total }}</td>
            <td>{{ formatFecha(element?.fecha) }}</td>
            <td>{{ formatFecha(element?.fecha) }}</td>
            <td class="estado">
                <div class="estado-content">
                    <div class="estado-pendientes">Pendientes</div>
                    <div class="estado-icons">
                        <mat-icon matListIcon>visibility</mat-icon>
                        <mat-icon matListIcon>more_horiz</mat-icon>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


