


<div>
    <div>
        <input type="date">
        <button class="btn-add" (click)="agregar()">Agregar</button>
    </div>
</div>






<table class="table">
    <thead>
        <tr>
            <th style="text-align: center;">Venta<mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Nombre <mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Celular <mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Total <mat-icon  class="icon" matListIcon>search</mat-icon></th>
            <th>Fecha <mat-icon  class="icon" matListIcon>search</mat-icon></th>
            <th>Docs <mat-icon class="icon" matListIcon>search</mat-icon></th>
            <th>Estado <mat-icon class="icon" matListIcon>search</mat-icon></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of dataSource">
            <td style="text-align: center;">{{ element.venta }}</td>
            <td>{{ element.nombre }}</td>
            <td>{{ element.celular }}</td>
            <td class="pago"><a class="pagado" href="">Pagado</a> S/{{ element.total }}</td>
            <td>{{ element.fecha }}</td>
            <td>{{ element.fecha }}</td>
            <td class="estado">
                <div class="estado-content">
                    <div class="estado-pendientes">Pendientes</div>
                    <div class="estado-icons">
                        <mat-icon matListIcon>visibility</mat-icon>
                        <mat-icon matListIcon>more_horiz</mat-icon>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


