<!--
  <mat-stepper orientation="vertical" linear="true" #stepper>
  
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="nombres y apellidos name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ingreso</ng-template>
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="secondCtrl"
                 required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="secondCtrl"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

-->

<div class="container">
  <div class="usuarios__container">
    <span class="title">Bienvenido, Pier!</span>
    <span class="pregunta">¿Qué vamos a hacer hoy?</span>

    <div class="card__container">

      <div class="card">
        <div class="texto__card">
          <mat-icon>group_add</mat-icon>
          <div class="texto">
            <span>Agregar </span>
            <span>Usuarios</span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="texto__card">
          <mat-icon>add_location_alt</mat-icon>
          <div class="texto">
            <span>Agregar</span>
            <span> Destinos</span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="texto__card">
          <mat-icon>add_card</mat-icon>
          <div class="texto">
            <span>Agregar </span>
            <span>Tarifas</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>