<div class="container">
    <div class="navbar">
        <button mat-raised-button color="primary" class="btn-add" (click)="agregar()">NuevoReparto</button>
    </div>

    <div class="date-input">
        <div class="input-container">
          <input type="text" id="from" placeholder="Desde" [matDatepicker]="picker1" (click)="picker1.open()">
          <i class="material-icons" (click)="picker1.open()">calendar_today</i>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
        <div class="input-container">
          <input type="text" id="to" placeholder="Hasta" [matDatepicker]="picker2" (click)="picker2.open()">
          <i class="material-icons" (click)="picker2.open()">calendar_today</i>
          <mat-datepicker #picker2></mat-datepicker>
        </div>
      </div>
      
      

    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Venta</th>  
                <th>Nombre</th>
                <th>Celular</th>
                <th>Total</th>
                <th>Fecha</th>
                <th>Docs</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of dataSource">
                <td style="text-align: center;">1</td>
                <td>{{ element.cliente?.nombres }}</td>
                <td>{{ element.cliente?.celular }}</td>
                <td class="pago"><a class="pagado" href="">Pagado</a> S/{{ element.total }}</td>
                <td>{{ formatFecha(element?.fecha) }}</td>
                <td>{{ formatFecha(element?.fecha) }}</td>
                <td class="estado">
                    <div class="estado-content">
                        <div class="estado-pendientes">{{element.estado}}</div>
                        <div class="estado-icons">
                            <i class="fa-solid fa-eye"></i>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>