.form-datos {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

table {
    width: 100%;
}

.select {
    width: 100%;
    max-width: 220px;
    height: 49px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.select:active {
    transform: scale(0.95);
}

.select:focus {
    border: 2px solid grey;
}

.input {
    width: 100%;
    max-width: 220px;
    height: 25px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid var(--colorT2);
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.input:hover {
    border: 2px solid var(--colorP2);
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid var(--colorP2);
}


/**Boton**/
button {
    background-color: #f3f7fe;
    color: #0860B1;
    border: none;
    border-radius: 8px;
    max-width: 200px;
    height: 45px;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--colorP2);
    box-shadow: 0 0 0 5px var(--colorP1);
    color: #fff;
}

button:active {
    transform: scale(0.9);
}

/**Tabla**/
.table {
    width: 13 00px;
    margin: 0 auto;
    /* Centrar la tabla en la página */
    border-collapse: collapse;
    margin-top: 20px;
    /* Espacio entre el botón y la tabla */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;


}

.table th,
.table td {
    border-bottom: 1px solid #ddd;
    padding: 1.2rem;
    text-align: left;
    margin-bottom: -1px;
    min-width: 100px;
    /* Establece un ancho mínimo para las celdas */

}



.table th {
    background-color: white
}

.table tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

.table tbody tr {
    background-color: white;
}


.btn-add {
    display: block;
    margin: 20px auto;
    /* Centrar el botón */
}

.table th:nth-child(2),
.table td:nth-child(2) {

    width: 350px;
    /* Ajusta el ancho según tu preferencia */
}

.table th:nth-child(3),
.table td:nth-child(3) {

    width: 180px;
    /* Ajusta el ancho según tu preferencia */
}

.table th:nth-child(4),
.table td:nth-child(4) {

    width: 200px;
    /* Ajusta el ancho según tu preferencia */
}

.table th:nth-child(5),
.table td:nth-child(5) {

    width: 200px;
    /* Ajusta el ancho según tu preferencia */
}

.table th:nth-child(6),
.table td:nth-child(6) {

    width: 100px;
    /* Ajusta el ancho según tu preferencia */
}

.table th:nth-child(7),
.table td:nth-child(7) {

    width: 200px;
    /* Ajusta el ancho según tu preferencia */
}

a {
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    font-size: 0.9rem;
    background-color: rgb(194, 236, 194);
    color: rgb(62, 180, 62);
    font-weight: 700;

    border-radius: 20px;
    /* Redondea todas las esquinas */
}

.pagado {
    margin-right: 40px;
}

.estado-content {
    display: flex;
    justify-content: space-between;

}

mat-icon {
    margin-right: 13px;
}

.icon {
    position: relative;
    top: 7px;
    color: #bbbbbb;
    left: 4px;
}

tr {
    font-weight: 600;
}
