.reparto__container{
    margin-left: 80px;
    margin-top: 80px;
}



.title__reparto{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.title__reparto span{
    font-size: 1.3rem;
    color: #047CC4;
    font-family: metropolis;
    font-weight: 700;
    letter-spacing: -0.5;
}


mat-icon{
    color: #047CC4;
font-size: 1.5rem;
cursor: pointer;
}

.buscar__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.buscar__container span{
    font-size: 1.1rem;
    color: #808080;
    font-family: metropolis;
    font-weight: 500;
}


.input-container {
    position: relative;
    width: 500px;
  }
  
  .input-with-icon {
    padding-left: 20px; /* Espacio para el ícono en el lado izquierdo */
    width: 100%;
    height: 45px;
    background-color: #F1F1F1;
    border-radius: 15px;
    border: none;
    font-size: 1.1rem;
    color: #808080;
    font-family: 'Metropolis', sans-serif;
  }
  
  .icon {
    position: absolute;
    right: 15px; /* Ajusta la posición del ícono */
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px; /* Tamaño del ícono */
    color: #808080; /* Color del ícono */
  }
  

.btn__agregar{
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn__agregar mat-icon{
    color: 
    #047CC4;
}

.btn__agregar span{
    color: 
    #047CC4;
    font-family: metropolis;
    font-weight: 600;
    cursor: pointer;
}

.btn__item{
  border: none;
  border-radius: 10px;
  width: 38px;
  padding: 5px;
  height: 38px;
  background-color: #047CC4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__item mat-icon{

  color: white;
  font-size: 30px;
  position: relative;
  left: -3px;
  top: -3px;
}


.table {
    width: 1400px;
    /* Centrar la tabla en la página */
    border-collapse: collapse;
    margin-top: 70px;
    /* Espacio entre el botón y la tabla */
   font-family: metropolis;
    border: none;

  }
  
  .table th,
  .table td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin-bottom: -1px;
    min-width: 100px;
    padding: 13px;
    /* Establece un ancho mínimo para las celdas */
    text-align: center;
  
  }

  .table th:nth-child(7),
.table td:nth-child(7) {

  width: 35px;
  /* Ajusta el ancho según tu preferencia */
}
  .table td {
    font-size: 1rem;
    color: 
    #808080;
    
    font-weight: 400;
    font-size: 1.1rem;
  }
  
  .table th {
    background-color: white;
    font-size: 1rem;
    color: 
    #808080;
    font-weight: 700;
    font-size: 1.05rem;
   
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f7f7f8;
  }
  
  .table tbody tr {
    background-color: white;
  }
  
  
  .btn-add {
    display: block;
    margin: 20px auto;
    /* Centrar el botón */
  }
  

  .btn__crud{
    display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 15px;
  }

  .btn__crud button {
   border: none;
   background-color: white;

  }

  .btn__crud button mat-icon{
    color: #808080;
    font-size: 1.6rem;
  }
  
