  .reparto__container {
    margin-left: 80px;
    margin-top: 80px;
  }



  .title__reparto {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
  }

  .title__reparto span {
    font-size: 1.3rem;
    color: #047CC4;
    font-family: metropolis;
    font-weight: 700;
    letter-spacing: -0.5;
  }


  mat-icon {
    color: #047CC4;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .buscar__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .buscar {
    display: flex;
    gap: 20px;
  }

  .btn__agregar {
    margin-left: 10px;
    /* Agrega un margen izquierdo para separar el botón del campo de búsqueda */
  }

  .sugerencias {
    margin-top: 3px;
    position: absolute;
    top: 100%;
    /* Coloca la lista de sugerencias justo debajo del input */
    left: 81px;
    background-color: white;
    /* Fondo blanco */
    z-index: 1;
    /* Asegura que esté en la parte superior del contenido */
    max-height: 200px;
    /* Limita la altura máxima de la lista de sugerencias */
    overflow-y: auto;
    /* Agrega una barra de desplazamiento vertical si es necesario */
    width: 500px;
    /* Asegura que ocupe todo el ancho del contenedor */
  }

  .sugerencias .auto__completar li {
    font-size: 1.3rem;
    color: #ffffff;
    border-radius: 10px;
    font-family: metropolis;
    background-color: #047CC4;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 1px;
    padding-bottom: 10px;
    z-index: 2;
  }

  .sugerencias .auto__completar li:hover {
    background-color: #0467a5;
    cursor: pointer;
  }

  
  /* Otros estilos según tus preferencias */

  .buscar__container span {
    font-size: 1.1rem;
    color: #808080;
    font-family: metropolis;
    font-weight: 500;
  }


  .input-container {
    position: relative;
    width: 500px;
  }

  .input-with-icon {
    padding-left: 20px;
    /* Espacio para el ícono en el lado izquierdo */
    width: 100%;
    height: 45px;
    background-color: #F1F1F1;
    border-radius: 15px;
    border: none;
    font-size: 1.1rem;
    color: #808080;
    font-family: 'Metropolis', sans-serif;
  }

  .input-container input:focus {
    outline: none;
    border: 2px solid #047CC4;
  }

  .icon {
    position: absolute;
    right: 0px;
    /* Ajusta la posición del ícono */
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    /* Tamaño del ícono */
    color: #808080;
    /* Color del ícono */
  }

  .icon:focus {
    color: #047CC4;
  }


  .container__autocompletar {
    width: 300px;
    position: relative;
    top: -150px;
  }

  .btn__agregar {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
  }

  .btn__agregar mat-icon {
    color:
      #047CC4;
  }

  .btn__agregar span {
    color:#047CC4;
    font-weight: 600;
  }

  .btn__item {
    border: none;
    border-radius: 10px;
    width: 38px;
    padding: 5px;
    height: 38px;
    background-color: #047CC4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__item mat-icon {

    color: white;
    font-size: 30px;
    position: relative;
    left: -3px;
    top: -3px;
  }


  .container__completado{
    position: relative;
  padding-top: 1rem;
  }

  .container__completado span{
    font-size: 1.2rem;
  }

  .span__completado{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .span__completado mat-icon{

    color: 
    #808080;
    font-size: 20px;
  }

  .title{
    font-family: metropolis;
    color: #808080;
    font-weight: 600;
    width: 100px;
  }

  .sub__title{
    margin-left: 60px;
    font-family: metropolis;
    color: #808080;
    font-weight: 400;
  }

  .table {
    width: 1400px;
    /* Centrar la tabla en la página */
    border-collapse: collapse;
    margin-top: 70px;
    /* Espacio entre el botón y la tabla */
    font-family: metropolis;
    border: none;

  }

  .table th,
  .table td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin-bottom: -1px;
    min-width: 100px;
    padding: 13px;
    /* Establece un ancho mínimo para las celdas */
    text-align: center;

  }

  .table th:nth-child(7),
  .table td:nth-child(7) {

    width: 35px;
    /* Ajusta el ancho según tu preferencia */
  }

  .table td {
    font-size: 1rem;
    color:
      #808080;

    font-weight: 400;
    font-size: 1.1rem;
  }

  .table th {
    background-color: white;
    font-size: 1rem;
    color:
      #808080;
    font-weight: 700;
    font-size: 1.05rem;

  }

  .table tbody tr:nth-child(even) {
    background-color: #f7f7f8;
  }

  .table tbody tr {
    background-color: white;
  }


  .btn-add {
    display: block;
    margin: 20px auto;
    /* Centrar el botón */
  }


  .btn__crud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .btn__crud button {
    border: none;
    background-color: white;

  }

  .btn__crud button mat-icon {
    color: #808080;
    font-size: 1.6rem;
  }

  .container__total {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 120px;
    gap: 59rem;
  }

  .container__clave {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
  }

  .container__clave span {
    font-size: 1.2rem;
    color: #808080;
    font-family: metropolis;
    font-weight: 700;
  }

  .container__clave input {

    width: 130px;
    height: 35px;
    border: none;
    padding: 1rem;
    background-color:
      #F1F1F1;
    color: #808080;
    font-family: metropolis;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 10px;
  }

  .container__clave input:focus {
    outline: none;
    border: 2px solid #047CC4;
  }

  .container__costo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    color: #808080;
    font-family: metropolis;
    font-weight: 400;
  }

  .costo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: #047CC4;
    font-family: metropolis;
    font-weight: 700;
  }

  .container__btn {
    display: flex;
    margin-left: 71.6rem;
    gap: 20px;
  }

  .container__btn button {
    background-color:
      #05ACD7;
    color: white;
    border-radius: 5px;
    width: 120px;
    border: none;
    font-family: metropolis;
    font-weight: 600;
    font-size: 0.98rem;
    height: 38px;
  }

  .container__btn :nth-child(2) {
    background-color:
      #E8E8E8;
    color: #808080;
  }