<div class="order-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Formulario de Pedido</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="submitOrder()">
                <div class="form-datos">
                    <div class="form-cliente">
                        <mat-form-field class="full-width" appearance="outline">
                            <input matInput placeholder="Documento" name="document" [(ngModel)]="document">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Nombre del Cliente" name="clientName" [(ngModel)]="clientName">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Celular del Cliente" name="clientCelular"
                                [(ngModel)]="clientCelular">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Clave" name="password" [(ngModel)]="password">
                        </mat-form-field>
                    </div>
                    <div class="form-domilicio">
                        <mat-form-field>
                            <mat-label>Distrito</mat-label>
                            <mat-select>
                                <mat-option value="D1">Chincha Alta</mat-option>
                                <mat-option value="D2">Chincha Baja</mat-option>
                                <mat-option value="D3">Tambo de Mora</mat-option>
                                <mat-option value="D4">Sunampe</mat-option>
                                <mat-option value="D5">El Carmen</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="Dirección" name="address" [(ngModel)]="address">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="Referencia" name="reference" [(ngModel)]="reference">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput placeholder="Anotaciones" name="notes" [(ngModel)]="notes" />
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button color="primary" type="submit">Enviar Pedido</button>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="item-form">
        <button mat-raised-button (click)="openProductDialog()" color="primary">Agregar Producto</button>
    </div>

    hola
    
    <div *ngFor="let item of distritos">
        {{item.nombre}}
    </div>

    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="descrip">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let item">{{ item.descrip }}</td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let item">S/.{{ item.precio }}</td>
        </ng-container>
        <ng-container matColumnDef="cant">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let item">{{ item.cant }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let item">
                <button mat-icon-button (click)="remove(item)">
                    <mat-icon class="mat-18">remove</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>