<div class="order-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Formulario de Pedido</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="submitOrder()">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Documento" name="document" [(ngModel)]="document">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre del Cliente" name="clientName" [(ngModel)]="clientName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Distrito" name="district" [(ngModel)]="district">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Dirección" name="address" [(ngModel)]="address">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Referencia" name="reference" [(ngModel)]="reference">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Clave" name="password" [(ngModel)]="password">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Anotaciones" name="notes" [(ngModel)]="notes"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Enviar Pedido</button>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="item-form">
        <button mat-raised-button (click)="openProductDialog()" color="primary">Agregar Producto</button>
    </div>

    <h1 *ngFor="let item of listReparto.data">
        {{item.descrip}}
    </h1>

    <table mat-table [dataSource]="listReparto.data">
        <ng-container matColumnDef="descrip">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let item">{{ item.descrip }}</td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let item">{{ item.precio }}</td>
        </ng-container>
        <ng-container matColumnDef="cant">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let item">{{ item.cant }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>