




.form-cliente{
    display: grid;
   grid-template-columns: repeat(4 , 1fr);
   gap: 7px;
}

.form-domilicio{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 7px;
   
}

table{
    width: 100%;
}