<!-- HTML en tu archivo de plantilla (drawer.component.html) -->
<div class="navigation" [class.closed]="collapsed">
    <ul>

        <li>
            <span class="icon"><img src="../../../../assets/logo.png" alt=""></span>
        </li>
        <li>
            <a routerLink="/menu/repartos">
                <span class="icon"><mat-icon>local_shipping</mat-icon></span>
                <span class="title">Repartos</span>
            </a>
        </li>
        <li>
            <a routerLink="/menu/clientes">
                <span class="icon"><mat-icon>group</mat-icon></span>
                <span class="title">Clientes</span>
            </a>
        </li>
        <li>
            <a routerLink="/menu/destinos">
                <span class="icon"><mat-icon>paid</mat-icon></span>
                <span class="title">Tarifario</span>
            </a>
        </li>
        <li>
            <a routerLink="/menu/comprobantes">
                <span class="icon"><mat-icon>description</mat-icon></span>
                <span class="title">Comprobantes</span>
            </a>
        </li>
        <li>
            <a routerLink="/menu/usuarios">
                <span class="icon"><mat-icon>admin_panel_settings</mat-icon></span>
                <span class="title">Usuarios</span>
            </a>
        </li>

        <li>
            <a (click)="logout()">
                <span class="icon"><mat-icon>logout</mat-icon></span>
                <span class="title">Salir</span>
            </a>
        </li>
    </ul>

    <div class="container__admin">
        <div class="admin">
            <span class="icon"><mat-icon>close</mat-icon></span>
            <div class="admin__nombre">
                <label class="admin__title" for="">Admin</label>
                <label class="admin__nombre" for="">Nombre</label>
            </div>
        </div>
        <button mat-mini-fab style="background-color:white; color:  #047CC4;" (click)="toggleNavigation()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <div class="toggle" (click)="toggleNavigation()"></div>-->
    </div>
</div>