<!-- HTML en tu archivo de plantilla (drawer.component.html) -->
<div class="navigation" [class.closed]="collapsed">
    <ul>

        <li style="margin-left: -17px;margin-top: 30px;margin-bottom: 80px;" class="container__logo">
            <span class="icon"><img src="../../../../assets/logo.png" alt=""></span>
            <span ><img  class="imagen" src="../../../../assets/titulo.png" alt=""></span>
        </li>
        <li  [ngClass]="{'focus-menu': selected === 'repartos'}" (click)="navegar('repartos')">
            <a >
                <span class="icon"><mat-icon>local_shipping</mat-icon></span>
                <span class="title">Repartos</span>
            </a>
        </li>
        <li [ngClass]="{'focus-menu': selected === 'clientes'}" (click)="navegar('clientes')">
            <a >
                <span class="icon"><mat-icon>group</mat-icon></span>
                <span class="title">Clientes</span>
            </a>
        </li>
        <li [ngClass]="{'focus-menu': selected === 'comprobantes'}" (click)="navegar('comprobantes')">
            <a  >
                <span class="icon"><mat-icon>description</mat-icon></span>
                <span class="title">Comprobantes</span>
            </a>
        </li>
        <li  [ngClass]="{'focus-menu': selected === 'usuarios'}" (click)="navegar('usuarios')">
            <a >
                <span class="icon"><mat-icon>admin_panel_settings</mat-icon></span>
                <span class="title">Usuarios</span>
            </a>
        </li>

        <li>
            <a (click)="logout()">
                <span class="icon"><mat-icon>logout</mat-icon></span>
                <span class="title">Salir</span>
            </a>
        </li>
    </ul>

    <div class="container__admin">
        <div class="admin">
            <span class="icon__user"><img src="../../../../assets/user.png" alt=""></span>
            <div class="admin__nombre">
                <label class="admin__title" for="">Admin</label>
                <label class="admin__nombre" for="">Nombre</label>
            </div>
        </div>
        <button mat-mini-fab style="background-color:white; color:  #047CC4;" (click)="toggleNavigation()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <div class="toggle" (click)="toggleNavigation()"></div>-->
    </div>
</div>